appdirs==1.4.4
asgiref==3.2.10
certifi==2020.12.5
chardet==3.0.4
distlib==0.3.1
Django==3.1.7
filelock==3.0.12
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
netifaces==0.10.9
Pillow==7.2.0
ply==3.11
psycopg2-binary==2.8.6
py-eureka-client==0.8.10
py-zipkin==0.20.1
python-decouple==3.4
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
thriftpy2==0.4.12
urllib3==1.26.2
virtualenv==20.0.31
zipp==3.1.0
